@import "health_track.css";

h1 {
    margin:  0 0 30px 0;
    padding-top: 2%;
    text-align:  center;
    color: #fff;
    font-family: "Nunito",  sans-serif;
    font-weight: bold;
    font-size: 48px;
}

input[type="email"],  input[type="password"], input[type="text"],  input[type="date"], input[list], input[type="number"], input[type="tel"]{
    border:  none;
    display: block;
    font-size:  14px;
    margin:  0 auto;
    padding:  15px;
    width:  100%;
    background-color:  #ffffff;
    font-family: "Nunito", sans-serif #000;
    margin-bottom:  30px;
}