body {
    font-family:  "Nunito",  sans-serif;
    background-image: linear-gradient(#f00, #ff0) !important;
    background-attachment: fixed;
}

container-fluid {
    max-width:  480px;
}

h3 {
    font-family: "Nunito",  sans-serif ;
    font-weight: bold;
    color: white;
}

form {
    max-width:  100%;
    margin:  10px auto;
    padding:  10px 20px;
    background:  #fff;
    border-radius:  8px;
    font-weight: bold;
}

.card-img {
    max-height: 394px !important;
    align-content: center;
}

@media screen and (min-width: 480px)  {
    .card-img {
    max-height: 394px !important;
    width:fit-content;
    align-content: center;
    }
}